body
{
    margin:0px;
    position: relative;
}

.lower-screen-resolution-notify
{
    display: none;
}

@media only screen and (max-width: 1300px) {
    .lower-screen-resolution-notify
    {
        position: fixed;
        top: 0px;
        left: 0px;
        width:100%;
        height: 100vh;
        backdrop-filter: blur(50px);
        text-overflow: wrap;
        color: black;
        font-family: -webkit-pictograph;
        text-align:center;
        background-color:rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
    }
}

.payment_info_outer_container
{
    display: flex;
    flex-wrap: wrap;
}

.payment_info_container
{
    width:50%;
    min-width:395px;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
}
.task_detail_container
{
    min-width:395px;
    width:50%;
    display: flex; justify-content: center; align-items: center; flex-direction: column;


}

.field_container
{
    display: flex;
    width: 100%;
    margin: 10px 0px;
}

.lable_container
{
    width: 32%;
}

.detail_container
{
    width: 100%;
    outline: none;
    text-align: justify;
    border: 0px;
    padding: 0px 5px 5px 5px;
}
.btn_container
{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
}
.btn
{
    padding: 5px 40px;
    background-color:black;
    color:white;
    width: auto;
}






















/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.divanim {
    border: 1px solid black;
    height: 10px;
    margin: 0px 8px;
    animation: linehiter 0.5s ease-in-out infinite;
}

@keyframes linehiter {
    50% {
        height: 40px;
    }
    100% {
        height: 10px;
    }
}

.divanim1 {
    border: 1px solid black;
    height: 40px;
    margin: 0px 8px;
    animation: linehiter1 0.5s ease-in-out infinite;
}

@keyframes linehiter1 {
    50% {
        height: 10px;
    }
    100% {
        height: 40px;
    }
}

.divanim2 {
    border: 1px solid black;
    height: 10px;
    margin: 0px 8px;
    animation: linehiter2 1s ease-in-out infinite;
}

@keyframes linehiter2 {
    50% {
        height: 40px;
    }
    100% {
        height: 10px;
    }
}

.messagebox_loading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: center;
    text-shadow: gray;
    font-size: large;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 9 33 / 42%);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999;
    cursor: pointer;
}

.message_box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    min-height: 25vh;
    width: 40%;
    padding: 1%;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}
